/* Basic CSS Sheet*/

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(163, 163, 148);
}
.about-me header img {
  width: 300px;
  height: auto;
}
.about-me h1 {
  color: #096cf6;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}

.about-me h2 {
  color: #096cf6;
}


.about-me p {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
}
a {
  color: #156dcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}