/* Basic CSS styling */

body {
  font-family: Arial, sans-serif;
  background-color: lightyellow;
}

h1 {
  color: #de0c55;
}

p {
  color: #374151;
}

a {
  color: #cc1515;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}