/* Basic CSS styling */

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #1f2937;
}

p {
  color: #374151;
}

a {
  color: #cc1515;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}